.instagram {
  padding: 38px 10px 42px;
  @include medium {
    padding: 47px 10px 50px;
    background: $instBG;
  }

  &__naw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
    @include medium {
      margin-bottom: 35px;
    }
    @include large {
      margin-bottom: 24px;
    }
  }

  &__picture {
    //max-width: 350px;

    @include medium {
      margin-bottom: 35px;
    }

    img {
      margin: 0 auto;

      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  width: inherit;
  outline: none;
}

.swiper-button-next.instagram__our {
  display: none;
  @include medium {
    display: initial;
  }
}